{% include "common_head.jinja2" %}
{% import "macro.jinja2" as macros %}

<h3><a href="/u/@{{ user['screen_name'] }}">@{{user['screen_name']}} 的个人主页</a></h3>

<h3 class="pagination">
  第{{page}}页
  <a href="?page=1">第一页</a>
  <a href="?page={{page - 1}}">上一页</a>
  {% for n in range(page - 5, page + 5) %}
    {% if n > 0 %} <a href="?page=1">{{ n }}</a> {% endif %}
  {% endfor %}
  <a href="?page={{page + 1}}">下一页</a>
  <a href="?page={{(total_number / 20) | int}}">最后一页</a>
</h3>

<!-- <h3>共 {{ total_number or 0 }} 条微博</h3> -->

<ul class="statuses">
  {% for s in statuses %}
    {{ macros.weibo_status(s, idx=loop.index) }}
  {% endfor %}
</ul>

<h3 class="pagination">
  第{{page}}页
  <a href="?page=1">第一页</a>
  <a href="?page={{page - 1}}">上一页</a>
  {% for n in range(page - 5, page + 5) %}
    {% if n > 0 %} <a href="?page=1">{{ n }}</a> {% endif %}
  {% endfor %}
  <a href="?page={{page + 1}}">下一页</a>
  <a href="?page={{(total_number / 20) | int}}">最后一页</a>
</h3>

{% include "common_foot.jinja2" %}
