{% macro image(status) %}
  {% if status.get('thumbnail_pic') %}
    <img class="img-thumb" src="{{status.get('thumbnail_pic')}}" />
  {% endif %}
  {% if status.get('bmiddle_pic') %}
    <img class="img-middle" src="{{status.get('bmiddle_pic')}}" />
  {% endif %}
  {% if status.get('original_pic') %}
    <img class="img-origin" src="{{status.get('original_pic')}}" />
  {% endif %}
{% endmacro %}

{% macro retweeted_status(status) %}
  {% set user = status['user'] %}
  {% if status['deleted'] %}
    <div class="weibo-text"> {{ status['text'] }} </div>
  {% else %}
    <div class="forward status clearfix">
      {% if status['deleted'] %}
        <div class="weibo-text"> {{ status['text'] }} </div>
      {% else %}
        <div class="c-text">
          <div class="weibo-text">
            <a class="weibo-user" href="/u/@{{ user['screen_name'] }}">
              @{{ user['screen_name'] }}
            </a>
            : {{ status['text'] | weibo_text }}
          </div>
        </div>
        <div class="c-image"> {{ image(status) }} </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro weibo_status(status, idx=None) %}
  {% set user = status.get('user') %}
  {% set rt = status.get('retweeted_status') %}
  <li class="status clearfix" data-id="{{status.id}}">

    {% if status['deleted'] %}
      <div class="weibo-text"> {{ status['text'] }} </div>
    {% else %}

      <a class="avatar50" href="/u/@{{ user['screen_name'] }}">
        <img src="{{ user['profile_image_url'] }}" />
      </a>

      <div class="c-text">
        <div class="weibo-text">
          <a class="weibo-user" href="/u/@{{ user['screen_name'] }}">
            @{{ user['screen_name'] }}
          </a>
          : {{ status['text'] | weibo_text }}
        </div>
        {% if rt %} {{ retweeted_status(rt) }} {% endif %}
        <span class="c-time">{{status['created_at'] | format_time}}</span>
        <span class="c-comment"> 评论 </span>
        <span class="c-repost"> 转发 </span>
        <div class="clearfix"></div>
        <div class="comment-box">
          <input name="text" />
          <div class="do-comment"> 评论 </div>
        </div>

        <div class="repost-box">
          <input name="text" />
          <div class="do-repost"> 转发 </div>
        </div>
      </div>

      <div class="c-image"> {{ image(status) }} </div>
    {% endif %}
  </li>

{% endmacro %}
